<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slick Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css')}}">
</head>
<body>
    <header>
        <nav>
            <h1>Slick Tic Tac Toe</h1>
        </nav>
    </header>
    <main>
        <div class="board">
            <!-- <div class="cell"></div> -->
            {% for row in board %}
                {% for item in row %}
                    {% if item.value == 1 %}
                        <div class="cell">X</div>
                    {% elif item.value == 0 %}
                        <div class="cell">O</div>
                    {% else %}
                        <div class="cell"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
</body>
</html>